/*  /helpers/_varibles.scss */

// Sizes
$content-width: 1025px;

$padding-size: 15px;
$margin-size: 15px;
$padding-size-large: 40px;
$margin-size-large: 40px;

// Other

$border-radius: 5px;

$direction-list: top right bottom left;
