/*  /_footer.scss */

.NMSDCCert {
  img {
    width: 100%;
  }
}

.footer_area {
  position: relative;
  z-index: 1;
}

.footer_bottom {
  padding: 50px;
  text-align: left;
}

.footer_bottom p {
  margin: 0;
  color: #fff;
}

.footer_bottom p > a {
  color: #fff;
}

.footer_bottom p > i,
.footer_bottom p > a:hover {
  color: color(blue);
}

.footer_accent {
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 15px;
}

.accent_container {
  display: flex;
  height: 15px;
}

.accent_container .accent {
  flex: 1 auto;
}
