.slider {
	text-align: center;
	
	.slider-gallery {
		list-style-type: none;
		padding: 0;
		position: relative;
		width: 400px;
		height: 400px;
		margin: 0 auto 80px auto;
	}
	
		.slide {
		border: 1px solid #bbbbbb;
		height: 400px;
		left: 0;
		opacity: 0;
		position: absolute;
		top: 0;
		transition: .2s ease-in-out;
		width: 400px;
		
		img {
			width: 100%;
		}
	}
	
		.slide-active {
		opacity: 1;
	}
	
	.slide-info {
		font-family: 'Helvetica', sans-serif;
		font-size: 13px;
		display: block;
    margin-top: 8px;
		text-align: left;
    font-weight: 400;
    color: #949494;
    font-size: 14px;
    border: 1px solid #cecece;
    border-radius: 40px;
    padding: 5px 16px;
    display: inline-block;
	}
	
	.slider-bullets {
		padding: 0;
		margin: 0;
	}
	
	.bullet {
		border: 1px solid #bbbbbb;
		box-sizing: border-box;
		display: inline-block;
		font-size: 0;
		margin: 0 2px;
		transition: .15s ease-in-out;
		opacity: .5;
		position: relative;
		
		&:before {
			position: absolute;
			content: '';
			left: 50%;
			transform: translateX(-50%);
			top: -12px;
			width: 4px;
			height: 4px;
			background: #c39e9e;
			border-radius: 50%;
			opacity: 0;
		}
		
		&:first-child {
			margin-left: 0;
		}
		
		&:hover {
			cursor: pointer;
			opacity: .85;
			
			&:before {
				opacity: .5;
			}
		}
		
		img {
		width: 80px;
		height: 80px;
	}
	}
	
	.bullet-active {
		border-color: #c39e9e;
		opacity: 1;
		position: relative;
		
		&:before {
			opacity: 1;			
		}
		
		&:hover {
			opacity: 1;
			
			&:before {
				opacity: 1;
			}
		}
	}
}