@media only screen and (min-width: 768px) {
    header nav a:not(:first-child) {
        display: inherit;
    }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .default-title h2 {
    font-size: 80px;
  }
  .right_side_menu nav.navbar.bootsnav .navbar-header {
    display: none;
  }
  .attr-nav {
    right: 10px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .default-title h2 {
    font-size: 60px;
  }
  .image_zoom_in > a {
    font-size: 16px;
  }
  .partner_slides .owl-item > img {
    padding: 10px;
  }
  .contact_address_area {
    margin-bottom: 30px;
  }
  .right_side_menu nav.navbar.bootsnav .navbar-header {
    display: none;
  }
  .attr-nav {
    right: 10px;
  }
  .about_us_text > h2 {
    font-size: 42px;
  }
  .cool_fact_text > p {
    font-size: 16px;
  }
  .cool_fact_text > h2 {
    font-size: 70px;
  }
  .cool_fact_text > i {
    font-size: 50px;
  }
  .intro_right_area {
    padding: 0 26px;
  }
  .gallery_info h4 {
    font-size: 16px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
<<<<<<< HEAD
  .default-title h2 {
    font-size: 40px;
  }
  .default-description > p,
  h2.default-description {
    font-size: 15px;
  }
  .gallery_menu .portfolio-menu button {
    padding: 5px;
  }
  .single_gallery_item {
    width: 100%;
  }
  .contact_address_area {
    margin-bottom: 30px;
  }
  .mean-container .mean-nav {
    top: 70px;
  }
  .text-typed .cd-headline {
    font-size: 30px;
  }
  .event_sidebar {
    margin-bottom: 50px;
  }
  #btn-one-1,
  #btn-two-1,
  #btn-three-1,
  #btn-1 {
    margin-right: 0;
  }
  .about_us_text > h2,
  .cta_content > h2,
  .section_heading > h2 {
    font-size: 24px;
  }
  .testimonial_text > h2 {
    line-height: 1;
  }
  .testimonial_author_name > h4 {
    font-size: 18px;
  }
  .testimonial_author_name > h5 {
    font-size: 16px;
  }
  .owl-prev,
  .owl-next {
    height: 50px;
    width: 50px;
    font-size: 50px;
  }
  .cta_area .table {
    position: relative;
    margin: 0 0 30px;
  }
  .full_screen_menu nav.bootsnav.navbar-full .navbar-toggle {
    margin-right: 0;
  }
  .full_screen_menu nav.bootsnav.navbar-full .navbar-collapse {
    left: 0;
  }
  .right_side_menu nav.navbar.bootsnav .navbar-header {
    display: none;
  }
  .right_side_menu .container > ul {
    display: none;
  }
  .attr-nav {
    right: 10px;
  }
  .intro_right_area {
    padding: 0 15px;
  }
  #multiscroll-nav span {
    opacity: 0.5;
  }
  .mean-container a.meanmenu-reveal span {
    height: 2px;
    width: 20px;
  }
  .main_menu_area {
    display: none;
  }
  .mean-container a.meanmenu-reveal {
    height: auto;
    padding: 28px 20px;
  }
  .about_image {
    height: 200px;
    margin-top: 50px;
  }
  .cool_fact_text > h2 {
    font-size: 90px;
  }
  .stats {
    justify-content: center;
  }
  .cool_fact_text {
    width: 75%;
    border-right: none;
    border-bottom: 1px solid #a4d3ff;
    margin-bottom: 20px;
    padding-bottom: 20px;
    padding-right: 0;
  }
  .top_cta_area h3 {
    font-size: 20px;
  }
  .twitter_icon {
    margin-top: 50px;
  }
  .client_slides .owl-controls .owl-nav {
    margin-left: 10%;
    margin-right: 10%;
  }
  #figcaption {
    margin-top: 0;
    border-left: none;
    padding-left: 0;
    text-align: center;
  }
=======
    .logo {
        margin-left: auto;
    }
    .default-title h2 {
        font-size: 40px;
    }
    .default-description>p,
    h2.default-description {
        font-size: 15px;
    }
    .gallery_menu .portfolio-menu button {
        padding: 5px;
    }
    .single_gallery_item {
        width: 100%;
    }
    .contact_address_area {
        margin-bottom: 30px;
    }
    .mean-container .mean-nav {
        top: 70px;
    }
    .text-typed .cd-headline {
        font-size: 30px;
    }
    .event_sidebar {
        margin-bottom: 50px;
    }
    #btn-one-1,
    #btn-two-1,
    #btn-three-1,
    #btn-1 {
        margin-right: 0;
    }
    .about_us_text>h2,
    .cta_content>h2,
    .section_heading>h2 {
        font-size: 24px;
    }
    .testimonial_text>h2 {
        line-height: 1;
    }
    .testimonial_author_name>h4 {
        font-size: 18px;
    }
    .testimonial_author_name>h5 {
        font-size: 16px;
    }
    .owl-prev,
    .owl-next {
        height: 50px;
        width: 50px;
        font-size: 50px;
    }
    .cta_area .table {
        position: relative;
        margin: 0 0 30px;
    }
    .full_screen_menu nav.bootsnav.navbar-full .navbar-toggle {
        margin-right: 0;
    }
    .full_screen_menu nav.bootsnav.navbar-full .navbar-collapse {
        left: 0;
    }
    .right_side_menu nav.navbar.bootsnav .navbar-header {
        display: none;
    }
    .right_side_menu .container>ul {
        display: none;
    }
    .attr-nav {
        right: 10px;
    }
    .intro_right_area {
        padding: 0 15px;
    }
    #multiscroll-nav span {
        opacity: 0.5;
    }
    .mean-container a.meanmenu-reveal span {
        height: 2px;
        width: 20px;
    }
    .main_menu_area {
        display: none;
    }
    .mean-container a.meanmenu-reveal {
        height: auto;
        padding: 28px 20px;
    }
    .about_image {
        height: 200px;
        margin-top: 50px;
    }
    .cool_fact_text>h2 {
        font-size: 90px;
    }
    .stats {
        justify-content: center;
    }
    .cool_fact_text {
        width: 75%;
        border-right: none;
		border-bottom: 1px solid #A4D3FF;
		margin-bottom: 20px;
        padding-bottom: 20px;
        padding-right: 0;
   }
    .top_cta_area h3 {
        font-size: 20px;
    }
    .twitter_icon {
        margin-top: 50px;
    }
    .client_slides .owl-controls .owl-nav {
	    margin-left: 10%;
	    margin-right: 10%;
    }
	#figcaption {
		margin-top: 0;
	    border-left: none;
	    padding-left: 0;
	    text-align: center;
	}
>>>>>>> origin/master

  .partner_area h2 {
    text-align: center;
    margin-bottom: 0;
  }

  .partner_area .section_heading {
    margin-bottom: 25px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .text-typed .cd-headline {
    font-size: 36px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .container {
    width: 520px;
  }
  .single_gallery_item {
    width: 50%;
  }
  .text-typed .cd-headline {
    font-size: 42px;
  }
}
