
.partner_area_bottom {
    padding: 0 0 100px 0;
}
  
.partner_area_top {
    padding: 100px 0 0 0;
}
  
.client_slides {
    overflow: hidden;
}
  
.client_slides .owl-item.center {
    transform: scale(1.1);
    z-index: 999999;
    transition: all 1s;
}
  
.client_slides .owl-item img:hover {
    filter: brightness(50%);
}

.client_slides .owl-controls {
    position: static;
    top: 0;
    bottom: 0;
    width: 100%;
}
  
.client_slides .owl-controls .owl-nav {
    margin-left: 5%;
    margin-right: 5%;
    position: static;
    display: block;
    height: 100%;
}
  
.client_slides .owl-controls .owl-prev,
.client_slides .owl-controls .owl-next {
    height: 40px;
    width: 40px;
    margin: 0;
    top: inherit;
    top: 50%;
    margin-top: -20px;
    opacity: 0.75;
}
  
.client_slides .owl-controls .owl-prev {
    left: 1rem;
}
  
.client_slides .owl-controls .owl-next {
    right: 1rem;
}
  
.client_slides .owl-controls i {
    background: white;
    color: rgba(36, 103, 156, 1);
    line-height: 40px;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}
  
.client_slides .item {
    position: relative;
}

.client_slides .slide_text {
    position: absolute;
    bottom: 0;
    z-index: 1;
    display: none;
}
  
@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
  
@keyframes pop-in {
    0% {
        opacity: 0;
        transform: scale(0.25);
    }
    65% {
        opacity: 0.75;
        transform: scale(1.15);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
  
.client_slides .center .slide_text {
    display: inherit;
    animation: pop-in 1s;
}
  
.client_slides .slide_text h4 {
    display: none;
}

.client_slides .slide_text p {
    color: #fff;
    padding: 0 3rem 25px;
    text-align: center;
    font-weight: 700;
    font-size: 1.3em;
    line-height: 1;
}

#figcaption {
    margin-top: 5px;
    margin-bottom: 50px;
    border-left: 1px solid rgba(5, 162, 170, 0.3);
    padding-left: 25px;
    text-align: left;
    min-height: 75px;
}
