<div class="col-xs-12 col-sm-3">
    <div class="single_advisor wow fadeInUp">
        <div class="row">
            <div class="thumb_container col-xs-5 col-sm-12">
                <a href="{{ .linkedin }}" target="_blank">
                    <div class="advisor_thumb">
                        <img class="bio-photos" src="{{ .photo }}" alt="">
                    </div>
                </a>
            </div>
            <div class="single_advisor_details_info text-left col-xs-7 col-sm-12">
                <h4>{{ .name }}</h4>
                <h5 class="text-red">{{ .role }}</h5>
            </div>
        </div>
    </div>
</div>