<div class="single_advisor wow fadeInUp">
    <div class="thumb_container">
        <a href="{{ .linkedin }}" target="_blank">
            <div class="advisor_thumb">
                <picture class="bio-photos">
                    <source type="image/webp" srcset="img/team/150w/webp/{{ .photo }}.webp 150w">
                    <source type="image/jpeg" srcset="img/team/150w/jpg/{{ .photo }}.jpg 150w">
                    <img src="img/team/150w/jpg/{{ .photo }}.jpg" alt="{{ .name }}">
                  </picture>
            </div>
        </a>
    </div>
    <div class="single_advisor_details_info text-left">
        <h4>{{ .name }}</h4>
        <h5 class="text-red">{{ .role }}</h5>
    </div>
</div>