<div class="single_advisor wow fadeInUp">
    <div class="thumb_container">
        <a href="{{ .linkedin }}" target="_blank">
            <div class="advisor_thumb">
                <picture class="bio-photos">
                    <source srcset="img/team/150x150/{{ .photo }} 150w">
                    <source srcset="img/team/50x50/{{ .photo }} 50w">
                    <img class="bio-photos" src="img/team/150x150/{{ .photo }}" alt="{{ .name }}">
                  </picture>
            </div>
        </a>
    </div>
    <div class="single_advisor_details_info text-left">
        <h4>{{ .name }}</h4>
        <h5 class="text-red">{{ .role }}</h5>
    </div>
</div>